.App {
  padding-top: 3rem;
  width: 100%;
  height: 100vh;
}

.form_input {
  flex-direction: column;
  margin: auto;
  max-width: 600px;
}

.form_title {
  text-align: center;
  margin-bottom: 25px;
}

.card_atm {
  width: max-content;
  border: 1px solid rgb(230, 228, 228);
  margin-right: 20px;
  margin-bottom: 60px;
  min-height: 424px;
}

.card_body {
  padding: 16px;
}

.card_close {
  text-align: end;
  margin-bottom: 2px;
}

.card_close > img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.atm_img > img {
  max-width: 180px;
  max-height: 180px;
}

.content {
  text-align: center;
}

.content > p {
  font-size: 2rem;
  font-weight: 600;
  color: red;
}

.free {
  color: #198754 !important;
}

.home {
  padding: 50px 0 10px 0;
}

.quete {
  background-color: #d3d3d3;
  padding: 5px 10px;
  border-radius: 5px;
}

.btn_add {
  cursor: pointer;
  margin-right: 15px;
}

.card_content {
  background-color: #f7f7f7;
  width: 100%;
}

.img_client > img {
  width: 30px;
  height: 30px;
}

.img_client {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_wraps {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  margin-top: 1rem;
  max-height: 100vh;
  overflow: auto;
}

.queue {
  width: 100%;
  height: 100px;
  border: 5px solid #d3d3d3;
  padding: 5px;
  margin-bottom: 5px;
  min-width: 200px;
}

.queue_list {
  max-height: 100vh;
  overflow: auto;
}
